In [37]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import os
from google.cloud import storage
from google.oauth2 import service_account

--------

# 파일 불러오기

In [38]:
JSON_KEY_PATH = "C:/Users/User/Documents/04.project_04/json/probable-axon-451402-g1-3832bf2e7df7.json"

In [39]:
## 출석 테이블 데이터 읽기
attendance = pd.read_parquet(
    "gs://final-project-source-data/votes/accounts_attendance.parquet",
    storage_options={'token' : JSON_KEY_PATH}
    )

In [40]:
## 차단 테이블 데이터 읽기
blockrecord = pd.read_parquet(
    'gs://final-project-source-data/votes/accounts_blockrecord.parquet',
    storage_options={'token' : JSON_KEY_PATH}
    )

In [41]:
## 상품 구매 실패 기록 테이블 데이터 읽기
failpaymenthistory = pd.read_parquet(
    'gs://final-project-source-data/votes/accounts_failpaymenthistory.parquet',
    storage_options={'token' : JSON_KEY_PATH}
    )

In [42]:
## 친구 요청 테이블 데이터 읽기
friendrequest = pd.read_parquet(
    'gs://final-project-source-data/votes/accounts_friendrequest.parquet',
    storage_options={'token' : JSON_KEY_PATH}
    )

In [43]:
## 학급 테이블 데이터 읽기
group = pd.read_parquet(
    'gs://final-project-source-data/votes/accounts_group.parquet',
    storage_options={'token' : JSON_KEY_PATH}
    )

In [44]:
## 가까운 학교를 기록해두기 위한 관계형 테이블
nearbyschool = pd.read_parquet(
    'gs://final-project-source-data/votes/accounts_nearbyschool.parquet',
    storage_options={'token' : JSON_KEY_PATH}
    )

In [45]:
## 구매 기록 테이블
paymenthistory = pd.read_parquet(
    'gs://final-project-source-data/votes/accounts_paymenthistory.parquet',
    storage_options={'token' : JSON_KEY_PATH}
    )

In [46]:
## 유저 테이블
user = pd.read_parquet(
    'gs://final-project-source-data/votes/accounts_user.parquet',
    storage_options={'token' : JSON_KEY_PATH}
    )

In [47]:
## 유저 컨택 테이블
user_contacts = pd.read_parquet(
    'gs://final-project-source-data/votes/accounts_user_contacts.parquet',
    storage_options={'token' : JSON_KEY_PATH}
    )

In [48]:
## 포인트 기록 테이블
pointhistory = pd.read_parquet(
    'gs://final-project-source-data/votes/accounts_pointhistory.parquet',
    storage_options={'token' : JSON_KEY_PATH}
    )

In [49]:
## 학교 테이블
school = pd.read_parquet(
    'gs://final-project-source-data/votes/accounts_school.parquet',
    storage_options={'token' : JSON_KEY_PATH}
    )

In [50]:
## 유저 신고기록 테이블
timelinereport = pd.read_parquet(
    'gs://final-project-source-data/votes/accounts_timelinereport.parquet',
    storage_options={'token' : JSON_KEY_PATH}
    )

In [51]:
## 투표 기록 테이블
userquestionrecord = pd.read_parquet(
    'gs://final-project-source-data/votes/accounts_userquestionrecord.parquet',
    storage_options={'token' : JSON_KEY_PATH}
    )

In [52]:
## 탈퇴 기록 테이블
userwithdraw = pd.read_parquet(
    'gs://final-project-source-data/votes/accounts_userwithdraw.parquet',
    storage_options={'token' : JSON_KEY_PATH}
    )

In [53]:
## 포인트 이벤트 참여 테이블
event_receipts = pd.read_parquet(
    'gs://final-project-source-data/votes/event_receipts.parquet',
    storage_options={'token' : JSON_KEY_PATH}
    )

In [54]:
## 포인트 이벤트 테이블
events = pd.read_parquet(
    'gs://final-project-source-data/votes/events.parquet',
    storage_options={'token' : JSON_KEY_PATH}
    )

In [55]:
## 질문 데이터 테이블
question = pd.read_parquet(
    'gs://final-project-source-data/votes/polls_question.parquet',
    storage_options={'token' : JSON_KEY_PATH}
    )

In [56]:
## 질문 조각
questionpiece = pd.read_parquet(
    'gs://final-project-source-data/votes/polls_questionpiece.parquet',
    storage_options={'token' : JSON_KEY_PATH}
    )

In [57]:
## 질문에 대한 신고기록 테이블
questionreport = pd.read_parquet(
    'gs://final-project-source-data/votes/polls_questionreport.parquet',
    storage_options={'token' : JSON_KEY_PATH}
    )

In [58]:
## 질문 세트 데이블 
questionset = pd.read_parquet(
    'gs://final-project-source-data/votes/polls_questionset.parquet',
    storage_options={'token' : JSON_KEY_PATH}
    )

In [59]:
## 질문 조각에 등장하는 유저들 테이블
usercandidate = pd.read_parquet(
    'gs://final-project-source-data/votes/polls_usercandidate.parquet',
    storage_options={'token' : JSON_KEY_PATH}
    )

In [60]:
## Hackle_device_properties
device_properties = pd.read_parquet(
    'gs://final-project-source-data/hackle/device_properties.parquet',
    storage_options={'token' : JSON_KEY_PATH}
    )

In [61]:
## hackle_events
hackle_events = pd.read_parquet(
    'gs://final-project-source-data/hackle/hackle_events.parquet',
    storage_options={'token' : JSON_KEY_PATH}
    )

In [62]:
## hackle_events
hackle_properties = pd.read_parquet(
    'gs://final-project-source-data/hackle/hackle_properties.parquet',
    storage_options={'token' : JSON_KEY_PATH}
    )

In [63]:
## user_properties
user_properties = pd.read_parquet(
    'gs://final-project-source-data/hackle/user_properties.parquet',
    storage_options={'token' : JSON_KEY_PATH}
    )

--------

# 유저 정보 테이블 생성

In [64]:
# 일반적인 유저 정보
user_info = user[['id','gender','created_at','group_id','friend_id_list']] # 유저테이블에서 정보 추출
user_info = user_info.rename(columns = {'id':'user_id'}) # 컬럼 재설정
user_info['user_id'] = user_info['user_id'].astype(int) # merge를 위한 데이터 타입 변경

# user_properties에서 merge 준비
user_properties = user_properties[~user_properties['user_id'].str.contains('nhj4wh46MAf5K0IHDu4DGyRsdWn2')] # 데이터 타입에 맞지 않은 로우값 삭제
user_properties = user_properties[~user_properties['user_id'].str.contains('nmbzA4awkiRGXX26fT6wpoxURY43')] # 데이터 타입에 맞지 않은 로우값 삭제
user_properties['user_id'] = user_properties['user_id'].astype(int) # merge를 위한 데이터 타입 변경

# school 테이블에서 merge 준비
school = school.rename(columns={'id':'school_id',
                                'address':'school_address'                                
                                })

# attendance 테이블에서 merge 준비
attendance['Recent_access_history'] = attendance['attendance_date_list'].iloc[-1]
attendance = attendance[['user_id','Recent_access_history']]

In [65]:
# 유저 정보 + user_properties merge
user_info = pd.merge(user_info, user_properties, on='user_id', how='inner')
user_info = user_info.drop(columns='gender_y') # 필요하지 않은 컬럼 드랍
user_info['group_id'] = user_info['group_id'].astype(int) # 소수점 표시 변경
user_info = user_info.rename(columns={'gender_x':'gender'}) 
user_info ['created_at'] = user_info['created_at'].dt.strftime('%Y-%m-%d %H:%M:%S') # 날짜 타입 변경
user_info ['created_at'] = pd.to_datetime(user_info ['created_at'])

# 유저 정보 + school merge
user_info = pd.merge(user_info,school, on='school_id', how='inner')

# 유저 정보 + attendance merge
user_info = pd.merge(user_info,attendance, on='user_id', how='inner')

# 유저 정보 컬럼 재배치
user_info = user_info[['user_id','gender','created_at','grade','class','school_id','school_address','Recent_access_history','friend_id_list']]

In [66]:
# 최종 유저 테이블 형태
user_info

,user_id,gender,created_at,grade,class,school_id,school_address,Recent_access_history,friend_id_list
0,833202,F,2023-03-31 15:58:12,1,5,272,충청남도 천안시 서북구,"[""2024-05-09""]","[840198, 876040, 860682, 1377293, 882194, 8448..."
1,833203,M,2023-03-31 15:58:14,1,9,272,충청남도 천안시 서북구,"[""2024-05-09""]","[857602, 845325, 865294, 1026580, 857625, 8340..."
2,833303,M,2023-03-31 16:01:40,2,3,289,충청남도 천안시 서북구,"[""2024-05-09""]","[879360, 1079314, 1038740, 969621, 1221654, 88..."
3,833525,F,2023-03-31 16:55:28,1,8,281,충청남도 천안시 서북구,"[""2024-05-09""]","[857602, 861187, 857625, 1306654, 862238, 8335..."
4,833673,F,2023-04-01 00:16:13,1,14,289,충청남도 천안시 서북구,"[""2024-05-09""]","[1450116, 858760, 848400, 935440, 842386, 8428..."
...,...,...,...,...,...,...,...,...,...
161082,1579923,F,2023-08-10 08:52:40,2,6,4693,경기도 이천시,"[""2024-05-09""]","[1108226, 1163779, 1183234, 1184784, 1199634, ..."
161083,1579925,F,2023-08-10 11:08:31,2,2,3580,경상북도 칠곡군,"[""2024-05-09""]","[1196549, 1208071, 1192458, 1094779, 1140502, ..."
161084,1579928,M,2023-08-10 12:31:06,3,9,4940,경기도 안양시 만안구,"[""2024-05-09""]","[1580183, 1580186, 1578973, 1578988]"
161085,1579929,F,2023-08-10 12:45:28,2,6,2603,서울특별시 강남구,"[""2024-05-09""]","[933252, 919689, 926094, 902161, 917650, 91521..."
161086,1579930,F,2023-08-10 12:49:56,2,4,4726,경기도 의정부시,"[""2024-05-09""]","[1033988, 1205133, 1366418, 1366553, 1536025, ..."

In [73]:
# 유저가 신고, 차단한 정보 timelinereport,blockrecord 
# merged_df = pd.merge(df1, df2, on='ID', how='inner')

user_report = pd.merge(timelinereport, blockrecord, on='user_id', how ='outer')
user_report = user_report[['user_id','reported_user_id','reason_x','created_at_x','block_user_id','reason_y','created_at_y']]
user_report= user_report.rename(columns={'reason_x':'report_reason',
                                     'created_at_x':'report_created_at',
                                     'reason_y':'block_reason',
                                     'created_at_y':'block_created_at'
                                     })

In [74]:
user_report

,user_id,reported_user_id,report_reason,report_created_at,block_user_id,block_reason,block_created_at
0,834089,837235.0,타인을 사칭함,2023-05-07 06:18:23,NaN,NaN,NaT
1,837615,NaN,NaN,NaT,839155.0,모르는 사람임,2023-05-09 15:01:37
2,837786,NaN,NaN,NaT,1158705.0,모르는 사람임,2023-05-26 11:18:42
3,837786,NaN,NaN,NaT,1108926.0,친구 사이가 어색해짐,2023-05-27 12:45:44
4,838168,NaN,NaN,NaT,837991.0,친구 사이가 어색해짐,2023-08-22 16:01:39
...,...,...,...,...,...,...,...
19677,1579809,NaN,NaN,NaT,958151.0,모르는 사람임,2023-09-03 15:49:30
19678,1579809,NaN,NaN,NaT,1004543.0,모르는 사람임,2023-09-03 15:49:47
19679,1580066,NaN,NaN,NaT,962736.0,나랑 관련 없는 질문을 자꾸 보냄,2024-01-22 17:29:28
19680,1580317,NaN,NaN,NaT,1070407.0,친구 사이가 어색해짐,2023-09-12 13:31:05
19681,1583612,NaN,NaN,NaT,1582869.0,모르는 사람임,2024-05-05 11:06:31